/**
BEM-formatted styles for page headers.
*/

@include critical(true) {
  .Header {
    margin: 2rem auto 3rem;
  }

  .Header__home,
  .Header__home:visited {
    color: var(--gray-blue);
    border-bottom: 3px solid var(--popful-blue);
    padding-bottom: 0.6rem;
    text-decoration: none;
  }

  .Header__pop {
    color: var(--popful-blue);
  }
}

@include critical(false) {
  .Header__home,
  .Header__pop {
    transition:
      color 0.3s,
      border-color 0.4s;
  }

  .Header__home:hover {
    color: var(--magenta);
    border-color: var(--magenta);
  }

  .Header__home:hover .Header__pop {
    color: var(--yellow);
  }
}
