<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  {{ partial "head.html" . }}
  {{ block "head" . }}{{ end }}

  {{ $sassOptions := (dict "outputStyle" "compressed") }}

  {{/* Critical CSS is presented inline */}}
  {{ $critical := resources.Get "critical.scss" | resources.ToCSS $sassOptions }}
  {{ with $critical | resources.ExecuteAsTemplate "critical.css" . }}
    <style>{{ .Content | safeCSS }}</style>
  {{ end }}

  {{/* Extended CSS is deferred; h/t to @filamentgroup/loadCSS */}}
  {{ $extended := (resources.Get "extended.scss" | resources.ToCSS $sassOptions | resources.Fingerprint).Permalink }}
  {{ printf `<link rel="stylesheet" href="%s" media="print" onload="this.onload=null;this.media='all';" />` $extended | safeHTML }}
  {{ printf `<noscript><link rel="stylesheet" href="%s" /></noscript>` $extended | safeHTML }}
</head>
<body class="Page">
  <div>
    {{ partial "clouds.html" . }}
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
