<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  {{ partial "head.html" . }}

  <title>redoPop (Joe Bartlett)</title>
  <meta name=description content="Joe Bartlett is a web and video developer in the Driftless region of Minnesota.">

  {{ $sassOptions := (dict "outputStyle" "compressed") }}

  {{/* Homepage CSS is 100% critical */}}
  {{ $style := resources.Get "home.scss" | resources.ToCSS $sassOptions }}
  {{ with $style | resources.ExecuteAsTemplate "home.css" . }}
    <style>{{ .Content | safeCSS }}</style>
  {{ end }}
</head>
<body itemscope itemtype="http://schema.org/Person">
  <div class="Home-clouds">
    <canvas
      class="Home-clouds__canvas"
      id="clouds"
      aria-hidden="true"
    ></canvas>
  </div>

  <h1 class="container Home-title">
    redo<span class="Home-title__pop">Pop</span>
    is
    <span itemprop="givenName">Joe</span>
    <span itemprop="familyName">Bartlett</span>,
    <span class="Home-title__job" itemprop="jobTitle" title="Web &amp; Video Developer">
      World Wide Web-slinger
    </span>
  </h1>

  <div class="container Home-copy">
    <p>
      I&rsquo;m Joe Bartlett, a front-end developer in Minnesota.
      &#x1f44b;
    </p>

    <p>
      I care deeply about performance, accessibility,
      and inclusiveness on the web.
      I&nbsp;also do a lot with video:
      our small team at
      <a href="https://www.ted.com" itemprop="worksFor" rel="external"><span>TED</span></a>
      works on everything from ingest &amp; production tools
      to streaming &amp; building our own web players.
    </p>

    {{- $pages := where .Site.Pages "Params.feed" true | first 3 -}}
    {{ if $pages }}
      <p>Sometimes <a href="/posts"><span>I write.</span></a> Most recently:</p>
      <ul aria-label="Posts">
        {{ range $pages }}
          <li class="h-entry">
            <a class="p-name" href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
            <time
              class="dt-published"
              datetime='{{ .Date.Format "2006-01-02" }}'
              aria-hidden="true"
            >
              {{ .Date.Format "(Jan 2006)" | safeHTML }}
            </time>
          </li>
        {{ end }}
      </ul>
    {{ end }}

    <p>
      Reach me
      <a href="mailto:joe@redopop.com" itemprop="email"><span>by email</span></a>
      or
      <a href="https://twitter.com/redoPop" rel="me external"><span>Twitter</span></a>
    </p>
  </div>

  <div
    class="container"
    style="margin:2.4rem auto"
  >
    {{ partial "social.html" . }}
  </div>

  {{ $script := (resources.Get "home.js" | resources.Fingerprint "md5" | resources.Minify) }}
  {{ printf `<script defer src="%s"></script>` $script.Permalink | safeHTML }}
</body>
</html>
